
MainWindow {
    background-image: url('./static/connected_human.jpg');
    background-repeat: no-repeat; 
    background-position: center top;
}

QLabel, QCheckBox {
    background-color: white;
}

QTView {
    background-color: white;
}